In [1]:
import pandas as pd

In [2]:
tf_sel = pd.read_csv("/rds-d5/project/who1000/rds-who1000-wgs10k/user/tt419/Epigenome/Selene_data/selene_ftp_output/TF_intervals.txt", delimiter="\t", header=None)
tf_ph = pd.read_csv("/rds-d5/project/who1000/rds-who1000-wgs10k/user/tt419/Epigenome/output_encode_fold/TF_intervals.txt",delimiter="\t", header=None)

/home/tt419/anaconda2/envs/Selene/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
tf_sel.describe()

                  1             2
count  7.466100e+05  7.466100e+05
mean   8.023448e+07  8.023499e+07
std    5.676114e+07  5.676113e+07
min    8.210000e+02  1.165000e+03
25%    3.427536e+07  3.427577e+07
50%    6.994604e+07  6.994659e+07
75%    1.173641e+08  1.173645e+08
max    2.492395e+08  2.492402e+08

In [14]:
tf_ph["diff"] = tf_ph[2] -tf_ph[1]
tf_sel["diff"] = tf_sel[2] -tf_sel[1]

In [13]:
tf_ph["diff"].describe()

count    852273.000000
mean       3029.636619
std        6296.952672
min           1.000000
25%         654.000000
50%        1441.000000
75%        3185.000000
max      386089.000000
Name: diff, dtype: float64

In [19]:
tf_sel.describe()

                  1             2           diff
count  7.466100e+05  7.466100e+05  746610.000000
mean   8.023448e+07  8.023499e+07     509.443025
std    5.676114e+07  5.676113e+07     463.051163
min    8.210000e+02  1.165000e+03      50.000000
25%    3.427536e+07  3.427577e+07     280.000000
50%    6.994604e+07  6.994659e+07     376.000000
75%    1.173641e+08  1.173645e+08     596.000000
max    2.492395e+08  2.492402e+08   24225.000000

In [18]:
tf_ph[(tf_ph["diff"]>=50) & (tf_ph["diff"]<=25000)].describe()

                  1             2           diff
count  8.398690e+05  8.398690e+05  839869.000000
mean   7.793259e+07  7.793513e+07    2542.234271
std    5.336905e+07  5.336919e+07    3162.727054
min    0.000000e+00  1.520000e+02      50.000000
25%    3.353550e+07  3.353803e+07     654.000000
50%    7.011958e+07  7.012130e+07    1424.000000
75%    1.124709e+08  1.124745e+08    3101.000000
max    2.492395e+08  2.492406e+08   24999.000000

In [23]:
tf_ph[(tf_ph["diff"]>=50) & (tf_ph["diff"]<=25000)][[0,1,2]].to_csv("/rds-d5/project/who1000/rds-who1000-wgs10k/user/tt419/Epigenome/output_encode_fold/TF_intervals_filtered.txt", sep="\t", index=False )

In [27]:
int_df = pd.merge(tf_ph, tf_sel, how ='inner', on =[0, 1,2])

In [28]:
int_df

Empty DataFrame
Columns: [0, 1, 2, diff_x, diff_y]
Index: []